<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://miro.medium.com/v2/resize:fit:2400/1*kofg5S-_kcyij3HL-uCnZA.png" alt=""  height="200">
    <h1 class="display-5 fw-bold">Login Auth0</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">With this application you will use a login with Auth0</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="login()">Login</button>

      </div>
    </div>
  </div>